
<!DOCTYPE html>
<html>
  <head>
    <title>ECOM - Customer Sign Up</title>
    
  </head>
  <body>
    <div class="customer index">
      <h2>Customers</h2>
      <div> <%= @c.count %> record(s) found</div>
    </div>

  </body>
</html>
